body{
    height: 100vh;
   /* width: 100vw;*/
   /* background-color: burlywood;*/
    background-image: url("https://images.unsplash.com/photo-1768542142195-283c2bfeaac7?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center; 
    margin: 0px;
    
}

.head{
    color: black;
    background-color: azure;
    text-align: center;
     background-color: rgba(255, 255, 255, 0.5); 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:larger;  /*(small,medium,large,larger,also numerical value like 30px,60px)*/
    font-style: italic;
    font-weight: 200;  /*(maximum = 900)*/
    text-decoration: underline;  /*(overline,line-through)*/
    height: 100px;
    width: 500px;

    text-align: center;
    border-width: 2px;
    border-color: black;
    border-style:unset;
    border: 4px solid red;
    padding: 20px;
   /* padding-left: 30px;
    padding-top: 60px;
    padding: 20px 40px 50px 60px; //shorthand property (multiple property implement under one property)*/
    margin: 60px; /*work same as padding*/
    border-radius: 10px; /*border round
    border-top-left-radius: 10px;*/

}