body {
    margin: 0;
    padding: 0;
    height: 200cm;
}

div {
    height: 2cm;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.a { background-color: yellow;}
.b { background-color: pink;}
.c { background-color: green;}
.d { background-color: skyblue;}

